#menuTable {
  width: 300px;
  height: 70ch;
  float: left;
  position: fixed;
  left: -320px;
  top: 60px;
  background-color: rgb(135, 135, 135);
  border: 1px solid black;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
#menuTable button {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  border-bottom: 1px solid #6b6b6b;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 20px;
  background-color: rgb(135, 135, 135);
  cursor: pointer;
}

.logMenu {
  width: 100%;
  height: 100vh;
  background-color: rgb(135, 135, 135);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.logMenu #regisClose {
  position: relative;
  top: 5%;
  left: 95%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: transparent;
}
.logMenu #regisClose img {
  height: 100%;
}
.logMenu #regisMenu {
  margin: auto;
  height: 650px;
  width: 500px;
  background-color: rgb(80, 80, 80);
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 2px solid white;
}
.logMenu #regisMenu #regisMenuTop {
  border-radius: 5px;
  height: 50px;
  width: 500px;
  background-color: rgb(50, 50, 50);
}
.logMenu #regisMenu p {
  font-size: 24px;
  padding-top: 20px;
  color: rgb(43, 36, 79);
}
.logMenu #regisMenu .input-container {
  position: relative;
  margin: 20px auto;
  width: 250px;
}
.logMenu #regisMenu .input-container input {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}
.logMenu #regisMenu .input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}
.logMenu #regisMenu .input-container input:focus ~ .label,
.logMenu #regisMenu .input-container input:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: rgb(43, 36, 79);
}
.logMenu #regisMenu .input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(43, 36, 79);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.logMenu #regisMenu .input-container input:focus ~ .underline,
.logMenu #regisMenu .input-container input:valid ~ .underline {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.logMenu #activePassword {
  width: 60px;
  height: 40px;
  position: relative;
  top: -150px;
  left: 180px;
  background-color: rgb(61, 170, 61);
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.logMenu #submit {
  background-color: rgb(0, 161, 11);
  font-size: large;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  margin-top: 60px;
}