@import './index.scss';
@import './mixin.scss';

#menuTable {
    width: 300px;
    height: 70ch;
    float: left;
    position: absolute;
    left: -320px;
    background-color: $unmissableColor;
    border: 1px solid black;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;

    button {
        width: 300px;
        height: 50px;
        border-radius: $borderRadius;
        border: 0;
        border-bottom: 1px solid #6b6b6b;
        margin-bottom: 8px;
        margin-top: 8px;
        font-size: 20px;
        background-color: $unmissableColor;
        cursor: pointer;
    }
}

.logMenu {
    width: 100%;
    height: 100vh;
    background-color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $boxShadow;

    #regisClose {
        position: absolute;
        top: 5%;
        left: 95%;
        height: 40px;
        width: 40px;
        cursor: pointer;
        background-color: transparent;
        img{
            height: 100%;
        }
    }

}