@import './index.scss';
@import './mixin.scss';

#menuTable {
    width: 300px;
    height: 70ch;
    float: left;
    position: absolute;
    left: -320px;
    background-color: $unmissableColor;
    border: 1px solid black;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;

    button {
        width: 300px;
        height: 50px;
        border-radius: $borderRadius;
        border: 0;
        border-bottom: 1px solid #6b6b6b;
        margin-bottom: 8px;
        margin-top: 8px;
        font-size: 20px;
        background-color: $unmissableColor;
        cursor: pointer;
    }
}

.logMenu {
    width: 100%;
    height: 100vh;
    background-color: $unmissableColor;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    #regisClose {
        position: relative;
        top: 5%;
        left: 95%;
        height: 40px;
        width: 40px;
        cursor: pointer;
        background-color: transparent;

        img {
            height: 100%;
        }
    }

    #regisMenu {
        margin: auto;
        height: 650px;
        width: 500px;
        background-color: $lightColor;
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
        text-align: center;
        border: 2px solid white;

        #regisMenuTop {
            border-radius: $borderRadius;
            height: 50px;
            width: 500px;
            background-color: $darkColor;
        }

        p {
            font-size: 24px;
            padding-top: $mediumSpacing;
            color: $textRegisColor;
        }

        .input-container {
            position: relative;
            margin: 20px auto;
            width: 250px;
        }

        .input-container input {
            font-size: 20px;
            width: 100%;
            border: none;
            border-bottom: 2px solid #ccc;
            padding: 5px 0;
            background-color: transparent;
            outline: none;
        }

        .input-container .label {
            position: absolute;
            top: 0;
            left: 0;
            color: #ccc;
            transition: all 0.3s ease;
            pointer-events: none;
        }

        .input-container input:focus~.label,
        .input-container input:valid~.label {
            top: -20px;
            font-size: 16px;
            color: $textRegisColor;
        }

        .input-container .underline {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $textRegisColor;
            transform: scaleX(0);
            transition: all 0.3s ease;
        }

        .input-container input:focus~.underline,
        .input-container input:valid~.underline {
            transform: scaleX(1);
        }

    }

    #activePassword {
        width: 60px;
        height: 40px;
        position: relative;
        top: -150px;
        left: 180px;
        background-color: rgb(61, 170, 61);
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
    }

    #submit {
        background-color: rgb(0, 161, 11);
        font-size: large;
        border-radius: $borderRadius;
        height: 40px;
        width: 100px;
        margin-top: $largeSpacing + $largeSpacing;
    }
}