#footer {
    height: 60px;
    width: 100%;
    background: rgb(105, 66, 130);
    background: linear-gradient(90deg, rgba(105, 66, 130, 1) 0%, rgba(51, 51, 51, 1) 30%, rgba(51, 51, 51, 1) 70%, rgba(105, 66, 130, 1) 100%);
    position: absolute;
    top: 100%;
}