$darkColor: rgb(50, 50, 50);
$lightColor: rgb(80, 80, 80);
$textColor: rgb(89, 74, 163);
$unmissableColor: rgb(135, 135, 135);
$smallSpacing: 10px;
$mediumSpacing: 20px;
$largeSpacing: 30px;
$boxShadow:  inset 0 -3em 3em rgba(0,0,0,0.1),
0.3em 0.3em 1em rgba(0,0,0,0.3);
$borderRadius: 5px;